body {
  position: relative;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #FFFFFF;
  color: #252B30; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  margin: 0;
  padding: 0;
  outline: none; }

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border: 0; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

.header {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  color: #252B30;
  background-color: #FDD66F; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px; }

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.header__nav--nojs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__logo {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  font-size: 17px;
  vertical-align: 19px;
  font-weight: 700;
  text-transform: uppercase; }

.header__logo-name {
  letter-spacing: 2.2px;
  word-spacing: 1px; }

.header__technologies {
  padding-top: 3px;
  text-align: center;
  font-size: 10px;
  vertical-align: 12px; }

.header__logo-name,
.header__technologies {
  display: block; }

.header__toggle {
  position: relative;
  width: 80px;
  height: 80px;
  font-size: 0; }

.header__toggle--closed::before,
.header__toggle--closed::after,
.header__toggle--opened::before,
.header__toggle--opened::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #252B30; }

.header__toggle--closed::before {
  top: 29px;
  right: 0;
  -webkit-box-shadow: 0 10px #252B30;
          box-shadow: 0 10px #252B30;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.header__toggle--closed::after {
  bottom: 29px;
  right: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.header__toggle--opened::before {
  top: 39px;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.header__toggle--opened::after {
  top: 39px;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.header__toggle--hidden {
  display: none; }

.header__menu {
  position: absolute;
  top: -60px;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-transform: translateY(140px);
          transform: translateY(140px); }

.header__menu--hidden {
  display: none; }

.header__menu-item {
  width: 100%;
  background-color: #FDD66F;
  border-top: 1px solid #252B30; }

.header__menu-item:last-child {
  border-radius: 0 0 5px 5px; }

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px; }

@media (min-width: 768px) {
  .header {
    min-height: 90px; }
  .header__wrapper {
    width: 708px;
    height: 100%; }
  .header__logo {
    font-size: 19px;
    vertical-align: 21px; }
  .header__technologies {
    font-size: 11px;
    vertical-align: 13px; }
  .header__menu {
    position: relative;
    top: 0;
    width: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .header__menu-item {
    background-color: transparent;
    border-top: none; }
  .header__menu-item:last-child {
    border-radius: none; }
  .header__toggle {
    display: none; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    min-height: 90px; }
  .header__menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: 700; }
  .header__menu-item:last-child .header__menu-link {
    padding-right: 0; }
  .header__menu-link:hover {
    color: #FFFFFF; }
  .header__menu-link:active {
    opacity: 0.5; } }

@media (min-width: 1150px) {
  .header__wrapper {
    width: 900px; }
  .header__logo {
    font-size: 20px;
    vertical-align: 22px; }
  .header__technologies {
    font-size: 12px;
    vertical-align: 14px; } }

.inner-header {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-image: url("../img/inner-header-bg-mobile@1x.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .inner-header {
      background-image: url("../img/inner-header-bg-mobile@2x.jpg"); } }

.inner-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 0;
  min-height: 435px; }

.inner-header__title {
  margin-top: 40px;
  text-align: center; }

.inner-header__text {
  margin-top: 30px;
  margin-bottom: 15px; }

.inner-header__inner-text {
  line-height: 1.5; }

.inner-header__order-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px; }

.inner-header__order-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 54px;
  margin-bottom: 15px;
  color: #252B30;
  border-radius: 5px;
  background-color: #FDD66F;
  border: 1px solid #FDD66F; }

.inner-header__order-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.inner-header__order-item:hover {
  color: #FFFFFF;
  border: 1px solid #FDD66F;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.inner-header__order-item:active {
  padding-top: 3px;
  -webkit-transition: all 0s;
  transition: all 0s; }

.inner-header__order-link {
  margin: auto;
  padding-left: 35px;
  padding-right: 35px; }

@media (min-width: 768px) {
  .inner-header {
    background-size: 120%;
    background-image: url("../img/inner-header-bg-tablet-desktop@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .inner-header {
      background-image: url("../img/inner-header-bg-tablet-desktop@2x.jpg"); } }

@media (min-width: 768px) {
  .inner-header__wrapper {
    width: 708px;
    min-height: 450px;
    padding-top: 100px;
    padding-bottom: 20px; }
  .inner-header__title {
    font-size: 55px;
    vertical-align: 60px; }
  .inner-header__text {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 16px;
    vertical-align: 20px; }
  .inner-header__inner-text {
    text-indent: 0; }
  .inner-header__order-item {
    width: auto;
    margin-right: 15px; }
  .inner-header__icon-shevron:before,
  .inner-header__icon-shevron:after {
    right: 35px; } }

@media (min-width: 1150px) {
  .inner-header__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 900px;
    min-height: 550px;
    padding-top: 170px;
    padding-bottom: 50px; } }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 320px; }

@media (min-width: 768px) {
  .projects__wrapper {
    width: 708px; } }

@media (min-width: 1150px) {
  .projects__wrapper {
    width: 900px; } }

.project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px; }

.project::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #EEEEEE; }

.project__image-link {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s; }

.project__image-link:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s; }

.project__image-link:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s; }

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.project__title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  vertical-align: 29px;
  text-align: center; }

.project__title:hover {
  color: #93A4A9; }

.project__title:active {
  color: #93A4A9;
  opacity: 0.5; }

.project__description {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 13px;
  vertical-align: 15px;
  line-height: 1.6;
  text-align: center;
  color: #93A4A9; }

.project__technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.project__item {
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 8px;
  font-size: 12px;
  vertical-align: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FDD66F;
  border-radius: 5px; }

.project__item:last-child {
  margin-right: 0; }

.project__link {
  cursor: pointer;
  display: block;
  width: 29px;
  height: 29px;
  margin-top: 10px;
  font-size: 0; }

.project__icon-link {
  fill: #93A4A9;
  opacity: 0.5; }

.project__icon-link:hover {
  opacity: 0.3; }

.project__icon-link:active {
  opacity: 0.2; }

@media (min-width: 768px) {
  .project {
    width: 100%;
    padding-top: 55px;
    padding-bottom: 55px; }
  .project__image {
    width: 500px;
    height: auto; }
  .project__info {
    width: 400px; }
  .project__title {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 38px;
    vertical-align: 42px; } }

@media (min-width: 1150px) {
  .project {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px; }
  .project__info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 50px;
    padding-right: 50px; }
  .project__title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left; }
  .project__description {
    text-align: left; }
  .project__technologies {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .project__image {
    width: 430px; } }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 15px; }

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px; }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.features__icon {
  width: 60px;
  height: 60px; }

.features__icon-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px; }

.features__icon-wrapper::before {
  content: "";
  position: absolute;
  top: 10px;
  left: auto;
  right: auto;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FDD66F; }

.features__text-wrapper {
  width: 100%; }

.features__title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  vertical-align: 29px;
  text-align: center; }

.features__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 13px;
  vertical-align: 15px;
  line-height: 1.6;
  text-align: center;
  color: #93A4A9; }

@media (min-width: 768px) {
  .features {
    padding-top: 55px;
    padding-bottom: 40px; }
  .features-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 708px; }
  .features__item {
    width: 30%; }
  .features__item:last-child {
    margin-right: 0; }
  .features__icon {
    width: 70px;
    height: 70px; }
  .features__icon-wrapper {
    height: 70px; }
  .features__icon-wrapper::before {
    width: 50px;
    height: 50px; } }

@media (min-width: 1150px) {
  .features-wrapper {
    width: 900px; }
  .features__icon {
    width: 80px;
    height: 80px; }
  .features__icon-wrapper {
    height: 80px; }
  .features__icon-wrapper::before {
    width: 60px;
    height: 60px; } }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px; }

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  background-color: #FDD66F;
  color: #252B30; }

@media (min-width: 768px) {
  .footer__contacts-wrapper {
    width: 708px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__bottom {
    min-height: 90px; } }

@media (min-width: 1150px) {
  .footer__contacts-wrapper {
    width: 900px; } }

.map__iframe {
  width: 100%;
  height: 0;
  min-height: 200px; }

@media (min-width: 768px) {
  .map__iframe {
    min-height: 400px; } }

.contacts {
  width: 130px;
  min-height: 260px;
  margin-top: -65px;
  margin-left: 65px;
  margin-right: 65px;
  z-index: 10; }

.contacts__user-photo {
  display: block;
  width: 140px;
  height: auto;
  margin-bottom: 13px;
  border-radius: 50%;
  border: 5px solid #FFFFFF; }

.contacts__phone {
  margin-bottom: 25px; }

.contacts__phone-link {
  display: block;
  min-height: 30px;
  padding: 9px 12px;
  font-size: 11px;
  vertical-align: 14px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #FDD66F; }

.contacts__phone-link:hover {
  color: #FDD66F;
  background-color: #252B30; }

.contacts__phone-link:active {
  padding-top: 9px;
  padding-bottom: 7px; }

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (min-width: 768px) {
  .contacts {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 47px;
    margin-right: 47px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px; }

.social__item {
  position: relative;
  font-size: 0; }

.social__link {
  cursor: pointer; }

.social__icon {
  fill: #FDD66F; }

.social__icon:hover {
  fill: #252B30; }

.social__icon:active {
  position: relative;
  top: 1px; }

.social__icon-github {
  height: 29px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 40px; }

.form__top {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none; }

.form__fieldset-wrapper {
  width: 100%;
  margin-bottom: 10px; }

.form__top-item {
  width: 100%;
  height: 43px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-left: 25px;
  outline: none;
  border-radius: 5px;
  border-style: none;
  background-color: #EEEEEE; }

.form__message {
  display: block;
  width: 100%;
  height: 143px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding: 18px 25px;
  resize: none;
  font-size: 15px;
  vertical-align: 17px;
  outline: none;
  border-radius: 5px;
  border-style: none;
  background-color: #EEEEEE; }

.form__submit-button {
  display: block;
  width: 107px;
  height: 36px;
  font-size: 12px;
  vertical-align: 14px;
  color: #252B30;
  font-weight: 700;
  border-radius: 5px;
  background-color: #FDD66F; }

.form__submit-button:hover {
  color: #FDD66F;
  background-color: #252B30; }

.form__submit-button:active {
  padding-top: 3px;
  color: #FDD66F; }

@media (min-width: 768px) {
  .form {
    margin-top: 25px; } }

@media (min-width: 1150px) {
  .form {
    margin-left: 50px; }
  .form__fieldset-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__top-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 175px;
    margin-right: 25px; }
  .form__top-item:last-child {
    margin-right: 0; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  text-transform: uppercase;
  font-size: 12px;
  vertical-align: 13px; }

@media (min-width: 1150px) {
  .copyright {
    width: 900px;
    padding-left: 47px; } }
