html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Black", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  margin-top: 14px;
  margin-bottom: 36px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 6px;
  margin-bottom: 30px;
}

h3 {
  font-size: 35px;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 22px;
}

@keyframes bounce {
  0%   { transform: translateY(-2000px); }
  70%  { transform: translateY(30px);    }
  90%  { transform: translateY(-10px);   }
  100% { transform: translateY(0);       }
}

@keyframes shake {
  0%, 100%                { transform: translateX(0);    }
  10%, 30%, 50%, 70%, 90% { transform: translate(-10px); }
  20%, 40%, 60%, 80%      { transform: translate(10px);  }
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.btn {
  border-radius: 25px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(to top, #ec6f5e, #f58669);
}

.btn:active {
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  background: linear-gradient(to top, #f26843, #e74a35);
}

a {
  cursor: pointer;
}

.footer-navigation a:hover,
.footer-navigation a:active,
.copyright .academy-link:hover,
.copyright .academy-link:active,
.breadcrumbs:hover,
.breadcrumbs:active,
.nav-column .footer-nav-links:hover a,
.nav-column .footer-nav-links a:active {
  color: #ffbc9e;
}

.login-form a:hover,
.login-form a:active,
.new-post a:hover,
.new-post a:active {
  color: #ec593c;
}

/*header*/
.main-header {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  color: #ffffff;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0;
  width: 100%;
  min-height: 75px;
}

.index-logo {
  width: 154px;
  height: 64px;
  padding-right: 30px;
  margin-top: 9px;
  margin-left: -6px;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 675px;
}

.main-navigation .nav-link {
  display: block;
  position: relative;
  margin-right: 0;
  padding: 5px 14px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation .nav-link:hover {
  padding: 5px 14px;
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 16px;
}

.main-navigation .nav-link:active {
  padding: 5px 14px;
  color: #333333;
  background-color: #f7f6f3;
  box-shadow: inset 0 3px 3px #696969;
  border-radius: 16px;
}

.main-navigation .on-page,
.main-navigation .on-page:hover,
.main-navigation .on-page:active {
  cursor: default;
  color: #ffffff;
  padding: 5px 14px;
  background-color: #d07058;
  box-shadow: none;
  border-radius: 16px;
}

.main-navigation .on-page::after {
  display: none;
}

.main-navigation .nav-link::after {
  content: "";
  position: absolute;
  top: 27px;
  left: 14px;
  right: 14px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.main-navigation .nav-link.on-page-nav::after,
.main-navigation .nav-link:hover::after,
.main-navigation .nav-link:active::after {
  display: none;
}

.main-navigation .on-page-nav {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 16px;
}

.main-navigation .nav-catalog {
  position: relative;
}

.catalog-popup {
  position: absolute;
  top: -999px;
  left: -7px;
  width: 155px;
  border-top: 4px solid transparent;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 20;
  transition: 0.5s opacity;
  opacity: 0;

}

.nav-catalog:hover .catalog-popup {
  opacity: 1;
  top: 32px;
}

.new-goods {
  padding: 5px 0;
  padding-bottom: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
  color: #343434;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.new-goods .catalog-menu-link {
  cursor: pointer;
  padding: 9px 20px;
  padding-right: 18px;
  color: #343434;
}

.new-goods .catalog-menu-link:last-child {
  padding-bottom: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.new-goods .catalog-menu-link:hover {
  background-color: #fbded7;
}

.new-goods .catalog-menu-link:active {
  background-color: #f6b5a5;
}

.new-goods .on-row,
.new-goods .on-row:hover {
  background-color: #d07058;
  color: #ffffff;
}

.new-goods .catalog-menu-title {
  cursor: default;
  position: relative;
  padding-bottom: 10px;
  font-weight: 700;
}

.new-goods .catalog-menu-title:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: #d1d0ce;
}

.new-goods .catalog-menu-title:hover {
  background-color: transparent;
}

/*user block*/
.user-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 287px;
  padding: 0;
  margin: 0;
}

.user-block .user-item {
  cursor: pointer;
  background-color: rgba(257, 257, 257, 0.2);
  padding: 7px 14px;
  padding-left: 45px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 18px;
}

.user-block .user-item:last-child {
  margin-right: 0;
}

.user-block .user-item {
  position: relative;
}

.user-block .user-item:hover {
  color: #373737;
  background-color: #f8f7f4;
}

.user-block .search {
  font-size: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.user-block .search::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background: url("../img/icon-magnifier.svg") no-repeat;
}

.user-block .search:hover::after {
  background: url("../img/icon-magnifier-hover.svg") no-repeat;
}

.user-block .search-popup {
  position: absolute;
  top: -999px;
  right: 0;
  border-top: 4px solid transparent;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: 0.5s opacity;
  opacity: 0;
}

.search:hover .search-popup {
  opacity: 1;
  top: 32px;
}

.user-block .search-form {
  background-color: #f8f7f4;
  width: 310px;
  padding: 15px;
  border-radius: 5px;
}

.user-block .search-form input {
  padding: 8px 10px 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #373737;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-block .search-form input:hover,
.user-block .search-form input:focus,
.user-block .search-form input:active {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 7px 9px 5px;
}

.user-block .search-form input:focus,
.user-block .search-form input:active {
  outline: none;
  border-color: rgba(46, 136, 228, 0.52);
  color: #5b9ddf;
}

.user-block .login {
  padding-right: 15px;
  border-radius: 16px;
}

.user-block .login::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 20px;
  height: 19px;
  background: url("../img/icon-enter.svg");
}

.user-block .login:hover::after {
  background: url("../img/icon-enter-hover.svg");
}

.login .login-popup {
  position: absolute;
  top: -999px;
  right: 0;
  width: 272px;
  border-top: 4px solid transparent;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: 0.5s opacity;
  opacity: 0;
}

.login:hover .login-popup {
  opacity: 1;
  top: 32px;
}

.user-block .login-form {
  width: 242px;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.user-block .login-form input[type="email"],
.user-block .login-form input[type="password"] {
  padding: 8px 10px 6px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #373737;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-block .login-form input[type="email"]:hover,
.user-block .login-form input[type="email"]:focus,
.user-block .login-form input[type="email"]:active,
.user-block .login-form input[type="password"]:hover,
.user-block .login-form input[type="password"]:focus,
.user-block .login-form input[type="password"]:active {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 7px 9px 5px;
}

.user-block .login-form input[type="email"]:focus,
.user-block .login-form input[type="email"]:active,
.user-block .login-form input[type="password"]:focus,
.user-block .login-form input[type="password"]:active {
  outline: none;
  border-color: rgba(46, 136, 228, 0.52);
  color: #5b9ddf;
}

.login-form .login-btn {
  float: left;
  padding: 6px 30px;
  margin-right: 15px;
  font-size: 15px;
  line-height: 24px;
}

.login-links {
  float: right;
  padding: 0;
  margin: 0;
  width: 119px;
  font-size: 0;
}

.login-form a {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-bottom: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-decoration: underline;
}

.login-form a:last-child {
  margin-bottom: 0;
}

/*user-basket*/
.user-block .user-basket {
  padding-right: 35px;
  border-radius: 16px;
}

.user-block .user-basket:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: url("../img/icon-basket.svg") no-repeat;
}

.user-block .user-basket:hover::after {
  background: url("../img/icon-basket-hover.svg") no-repeat;
}

.user-block .full-basket:hover::after {
  background: url("../img/icon-basket-hover.svg") no-repeat, url("../img/icon-basket-red.svg") 4px 4px no-repeat;
}

 /*user-basket-block*/
.full-basket .basket-popup {
  position: absolute;
  top: -999px;
  right: 0;
  width: 540px;
  border-top: 4px solid transparent;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: 0.5s opacity;
  opacity: 0;
}

.full-basket .user-basket-block {
  cursor: default;
  width: 510px;
  padding: 15px;
  padding-top: 26px;
  padding-bottom: 20px;
  color: #373737;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.full-basket:hover .basket-popup {
  opacity: 1;
  top: 32px;
}

.empty-basket .basket-popup,
.empty-basket:hover .basket-popup {
  display: none;
}

.full-basket .empty-link-text,
.empty-basket .full-link-text {
  display: none;
}

.full-basket .full-link-text,
.empty-basket .empty-link-text {
  display: inline;
}

.user-basket a {
  text-decoration: none;
}

.user-basket .full-link-text,
.user-basket .empty-link-text {
  color: #ffffff;
}

.user-basket:hover a span.full-link-text,
.user-basket:hover a span.empty-link-text {
  color: #373737;
}

.user-basket .basket-table {
  margin: 0;
  padding: 0;
  height: 149px;
  font-size: 13px;
  line-height: 18px;
  border-collapse: collapse;
}

.user-basket .basket-table tr:nth-child(2) {
  border-bottom: 1px solid #d3d3d2;
}

.user-basket .basket-table td {
  vertical-align: top;
}

.basket-table .goods-img {
  cursor: pointer;
  position: relative;
  padding-left: 27px;
  width: 23px;
}

.basket-table .goods-img:before,
.basket-table .goods-img:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 2px;
  width: 14px;
  height: 1px;
  background-color: #373737;
}

.basket-table .goods-img:before {
  transform: rotate(45deg);
}

.basket-table .goods-img:after {
  transform: rotate(-45deg);
}

.basket-table .goods-img img {
  width: 33px;
  height: 33px;
}

.basket-table .goods-name {
  text-align: left;
  padding-left: 13px;
  padding-right: 5px;
  width: 232px;
}

.basket-table .goods-weight {
  text-align: right;
  padding-right: 3px;
  width: 42px;
}

.basket-table .goods-price {
  text-align: left;
  width: 70px;
  color: #d3d3d2;
}

.basket-table .goods-summ {
  text-align: right;
  width: 68px;
}

.basket-table td.goods-total-title,
.basket-table td.goods-total {
  vertical-align: middle;
  text-align: right;
  font-weight: 700;
}

.user-basket-block .basket-btn {
  float: right;
}

.user-basket-block .btn {
  font-size: 15px;
  line-height: 24px;
  padding: 6px;
  padding-left: 23px;
  padding-right: 16px;
}

.contact-phone {
  position: absolute;
  right: 0;
  bottom: -35px;
}

.contact-phone span {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}

.contact-phone .number-phone {
  font-size: 22px;
  line-height: 28px;
}

 /*slider*/
.site-wrapper {
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.wrapper {
  position: relative;
}

#slide1,
#slide2,
#slide3 {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 79px;
}

.slider-controls label {
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label::after {
  content: "";
  position: absolute;
  display: none;
  cursor: pointer;
  bottom: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border-radius: 50%;
}

#slide1:checked ~ .site-wrapper label[for="slide1"]::after,
#slide2:checked ~ .site-wrapper label[for="slide2"]::after,
#slide3:checked ~ .site-wrapper label[for="slide3"]::after {
  display: block;
}

#slide1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1_ice-creams.png");
  transition-duration: 0.3s;
}

#slide2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2_ice-creams.png");
  transition-duration: 0.3s;
}

#slide3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3_ice-creams.png");
  transition-duration: 0.3s;
}
 /*controls end*/

.slider-inner {
  position: relative;
  min-height: 534px;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  display: none;
  bottom: 0px;
  left: 238px;
  width: 670px;
}

.slider-title {
  display: block;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 62px;
  text-align: center;
}

.slider-btn {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  font-size: 32px;
  line-height: 62px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 40px;
}

#slide1:checked ~ .site-wrapper .slider-inner .slide1 {
  display: block;
}

#slide2:checked ~ .site-wrapper .slider-inner .slide2 {
  display: block;
}

#slide3:checked ~ .site-wrapper .slider-inner .slide3 {
  display: block;
}

 /*banners*/
.banners {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.banner-left,
.banner-right {
  padding: 20px;
  width: 520px;
  height: 229px;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.banner-left {
  background-image: url("../img/for-free-offer1_raspberries.png");
}

.banner-right {
  background-image: url("../img/for-free-offer2-chokolate.png");
}

.banners h3 {
  padding: 0;
}

.banners p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banners .btn {
  float: right;
  padding: 10px 20px;
}

 /*product*/
.catalog-showcase {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 70px;
  color: #ffffff;
  font-size: 0;
}

.catalog-unit {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 13px;
  padding-bottom: 60px;
  margin-bottom: -50px;
  width: 267px;
  z-index: 0;
}

.catalog-unit .unit-container {
  position: relative;
  width: 267px;
  height: 267px;
}

.unit-container .unit-img {
  position: absolute;
  top: 0;
  left: 0;
}

.unit-container .unit-price {
  position: absolute;
  top: 210px;
  left: 3px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-unit h2 {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

.catalog-unit h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.catalog-unit .unit-btn {
  position: absolute;
  bottom: 20px;
  left: 10%;
  right: 10%;
  display: none;
  padding: 6px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 15px;
  line-height: 22px;
  opacity: 0;
}

.catalog-unit:hover {
  transition-duration: 0.3s;
  transition-property: background-color;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.catalog-unit:hover h2 a {
  border-bottom-color: transparent;
}

.catalog-unit:hover .unit-btn {
  display: block;
  opacity: 1;
}

 /*about company*/
.about-company {
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 27px;
  margin-bottom: 40px;
  width: 1106px;
  border-radius: 15px;
  color: #323232;
  background-color: #eaddc0;
  background-image: url("../img/waffle-pattern.jpg");
  background-repeat: repeat;
}

.about-company h2 {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 600;
}

.text-blocks {
  display: flex;
  position: relative;
}

.text-blocks p {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 57px;
  padding-right: 20px;
  width: 473px;
}

.text-blocks p:last-child {
  margin-bottom: 0;
}

.text-blocks p::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
}

.text-blocks .ice-cream::after {
  background-image: url("../img/icon-ice-cream.svg");
}

.text-blocks .leaf::after {
  background-image: url("../img/icon-leaf.svg");
}

.text-blocks .cow::after {
  background-image: url("../img/icon-cow.svg");
}

.text-blocks .thermometer::after {
  background-image: url("../img/icon-thermometer.svg");
}

 /*two blocks*/
.two-blocks-section {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin-bottom: 40px;
}

.new-post {
  padding: 27px 20px;
  width: 520px;
  height: 166px;
  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.new-post span {
  display: block;
  color: #5a5a5a;
  margin-bottom: 5px;
}

.new-post a {
  display: block;
  max-width: 300px;
  color: #353535;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.subscription-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 40px 27px;
  width: 506px;
  min-height: 134px;
  background-color: #f8f7f4;
  background-image: url("../img/post-pattern.png");
  background-repeat: repeat;
  border-radius: 15px;
}

.subscription-block::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 549px;
  min-height: 210px;
  background-color: #f8f7f4;
  border-radius: 9px;
}

.subscription-block p {
  padding: 0;
  margin: 0;
  color: #5a5a5a;
  z-index: 10;
}

.subscription-block input[type="email"] {
  padding: 10px;
  margin-right: 0px;
  width: 346px;
  border: 1px solid #999999;
  border-radius: 4px;
  z-index: 10;
}

.subscription-block input[type="email"]:hover,
.subscription-block input[type="email"]:focus,
.subscription-block input[type="email"]:active {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: s9px;
}

.subscription-block input[type="email"]:focus,
.subscription-block input[type="email"]:active {
  outline: none;
  border-color: rgba(46, 136, 228, 0.52);
  color: #5b9ddf;
}

.subscription-block .btn {
padding: 8px 20px;
font-size: 17px;
line-height: 24px;
border: 0;
z-index: 10;
}

 /*footer*/
.footer-map {
  position: relative;
  width: 1146px;
  margin: 0;
  margin-left: -27px;
}

.footer-map::before {
  content: "";
  position: absolute;
  top: 139px;
  left: 266px;
  width: 80px;
  height: 140px;
  background-image: url("../img/map-pin-ice-cream.svg");
  background-repeat: no-repeat;
}

.footer-map::after {
  content: "";
  position: absolute;
  top: 170px;
  left: 304px;
  width: 182px;
  height: 110px;
  background-image: url("../img/map-pin-shadow.png");
  background-repeat: no-repeat;
}

.map-address {
  position: absolute;
  padding: 32px 25px;
  padding-bottom: 28px;
  top: 66px;
  left: 870px;
  width: 252px;
  height: 245px;
  color: #343434;
  background-color: #ffffff;
  border-radius: 14px;
}

.map-address p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.map-address p:last-child {
  margin-bottom: 0;
}

.map-address span {
  display: block;
}

.map-address b {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.map-address .main-address {
  margin-top: 9px;
  margin-bottom: 24px;
}

.feedback {
  padding: 10px 28px;
  margin: 0 auto;
  font-size: 17px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 186px;
}

.social-link {
  position: relative;
  font-size: 0;
  width: 33px;
  height: 33px;
}

.social-link::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-tw::after {
  background-image: url("../img/icon-tw.svg");
}

.social-inst::after {
  background-image: url("../img/icon-inst.svg");
}

.social-fb::after {
  background-image: url("../img/icon-fb.svg");
}

.social-vk::after {
  background-image: url("../img/icon-vk.svg");
}

.social-link:hover::after {
  opacity: 1;
}

.social-link:active::after {
  border-radius: 50%;
  opacity: 1;
  box-shadow: inset 0 2px 1px #888888;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-link:hover::before {
  border-color: rgba(255, 255, 255, 0.71);
}

.footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation div div {
  padding-left: 32px;
}

.footer-navigation div div:first-child {
  margin-bottom: 2px;
}

.footer-navigation .footer-nav-links a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-navigation .nav-column {
  position: relative;
}

.footer-navigation .nav-on-page::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 10px;
  width: 15px;
  height: 13px;
  background: url("../img/icon-heart.svg") no-repeat;
}

.footer-navigation .nav-on-page:hover::before,
.footer-navigation .nav-on-page:active::before {
  background: url("../img/icon-heart-pink.svg") no-repeat;
}

.footer-navigation .nav-on-page {
  font-weight: 700;
}

.copyright img {
  display: block;
  margin-bottom: 5px;
}

.academy-link {
  text-decoration: underline;
}

 /*catalog*/
.breadcrumbs {
  margin-bottom: 15px;
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs li {
  padding-right: 22px;
}

.breadcrumbs a {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.breadcrumbs li:hover a {
  color: #ffbc9e;
}

.breadcrumbs .main-page::after,
.breadcrumbs .catalog-page::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -15px;
  font-size: 14px;
  line-height: 18px;
}

.breadcrumbs li:hover a::after {
  color: #ffffff;
}

 /*filter-form*/
.filter-form {
  margin-bottom: 40px;
}

.filter-form .filter-producers-form {
  min-height: 150px;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  width: 879px;
  border: none;
}

.form-fieldset div.form-box {
  display: flex;
  align-content: space-between;
  width: 860px;
}

.form-box .fillers-form {
  flex-grow: 1;
}

.form-box .group-in-filters {
  margin-right: 15px;
}

.form-box .group-in-filters:last-child {
  margin-right: 0;
}

.form-box .fat-form {
  flex-grow: 1;
}

.group-in-filters .group-title {
  cursor: auto;
  display: block;
  margin-left: 15px;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 18px;
}

.group-in-filters .form-decor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 37px;
  text-align: center;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}

.group-in-filters .sort-by-form {
  cursor: pointer;
  padding-right: 20px;
  width: 163px;
  height: 100%;
  color: #ffffff;
  background: none;
  border: none;
  -webkit-appearance:none;
}

.group-in-filters .form-decor-sort {
  cursor: pointer;
  position: relative;
}

.group-in-filters .form-decor-sort::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  border: 6px solid transparent;
  border-top: 6px solid #ffffff;
  z-index: 10;
}

label.group-title:hover ~ .form-decor-sort::after,
.form-decor-sort:hover::after {
  border-top-color: #333333;
}

label.group-title:hover ~ .form-decor,
.group-in-filters .form-decor-sort:hover {
  background-color: #ffffff;
}

label[for="sort-options"]:hover ~ .form-decor select.sort-by-form,
.form-decor-sort:hover .sort-by-form {
  color: #343434;
}

.group-in-filters .sort-by-form:focus,
.group-in-filters .sort-by-form:active {
  outline: none;
}

.group-in-filters .price-pointer {
  cursor: pointer;
  position: relative;
  width: 218px;
  height: 37px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}

.group-in-filters .price-pointer::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 15px;
  right: 15px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.5;
}

.group-in-filters .price-pointer::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 44px;
  right: 76px;
  height: 4px;
  background-color: #ffffff;
}

.price-pointer .pointers {
  position: relative;
}

.price-pointer .pointers::before,
.price-pointer .pointers::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.price-pointer .pointers::before {
  left: 34px;
}

.price-pointer .pointers::after {
  left: 132px;
}

.group-in-filters .form-decor label {
  display: inline-block;
  vertical-align: middle;
}

.form-box .form-btn {
  cursor: pointer;
  align-self: flex-end;
  padding: 0 29px;
  width: 140px;
  height: 37px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}

.form-box .form-btn:hover {
  color: #343434;
  background-color: #ffffff;
  border: none;
}

.form-box .form-btn:active {
  color: #343434;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
  border: none;
}

 /*form-indicators*/
 /*radio*/
.form-decor input {
  display: none;
}

.radio-indicator {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  font-size: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.radio-indicator:hover {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.radio-indicator::after {
  display: none;
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
}

.radio-indicator:hover::after {
  top: 2px;
  left: 2px;
}

 /*checkbox*/
.checkbox-indicator {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  font-size: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.checkbox-indicator:hover {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.checkbox-indicator::after {
  display: none;
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 9px;
  height: 4px;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transform: rotate(-45deg);
}

.checkbox-indicator:hover::after {
  top: 3px;
  left: 2px;
}

label .label-title {
  cursor: pointer;
}

 /*input - indicators*/
input[type="radio"]:checked ~ .radio-indicator::after,
input[type="checkbox"]:checked ~ .checkbox-indicator::after {
  display: inline-block;
}

input[type="radio"]:disabled ~ .radio-indicator {
  width: 18px;
  height: 18px;
  border-width: 1px;
  opacity: 0.4;
}

input[type="checkbox"]:disabled ~ .checkbox-indicator {
  width: 18px;
  height: 18px;
  border-width: 1px;
  opacity: 0.4;
}

input[type="radio"]:disabled ~ .radio-indicator::after {
  top: 3px;
  left: 2px;
}

input[type="radio"]:disabled ~ .label-title {
  opacity: 0.4;
}

input[type="checkbox"]:disabled ~ .checkbox-indicator::after {
  top: 4px;
  left: 3px;
}

input:disabled ~ .label-title {
  opacity: 0.4;
}

 /*paginator*/
.paginator {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.paginator a {
  width: 26px;
  height: 26px;
  color: #ffffff;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  margin-left: 3px;
}

.paginator a.disabled::after,
.paginator a.disabled::before {
  background-color: #ffffff;
}

.paginator a.disabled {
  opacity: 0.2;
}

.paginator a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.paginator .prev,
.paginator .next {
  position: relative;
  font-size: 0;
}

.paginator .prev::before,
.paginator .prev::after,
.paginator .next::before,
.paginator .next::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #ffffff;
}

.paginator .prev::before {
  top: 14px;
  left: 8px;
  transform: rotate(45deg);
}

.paginator .prev::after {
  top: 9px;
  left: 8px;
  transform: rotate(-45deg);
}

.paginator .next::before {
  top: 14px;
  left: 8px;
  transform: rotate(-45deg);
}

.paginator .next::after {
  top: 9px;
  left: 8px;
  transform: rotate(45deg);
}

.paginator .current,
.paginator a:active {
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.paginator a.prev:active,
.paginator a.next:active,
.paginator a.prev:hover,
.paginator a.next:hover {
  color: #ffffff;
  background: none;
}

 /*popup*/
.modal-content {
  display: none;
  position: fixed;
  top: 100px;
  left: 50%;
  width: 478px;
  box-sizing: border-box;
  padding: 25px;
  padding-top: 20px;
  margin-left: -239px;
  color: #343434;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 20;
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 3px;
  right: 3px;
  border: none;
  font-size: 0;
  width: 46px;
  height: 46px;
  background-color: transparent;
  cursor: pointer;
}

.modal-content-close::after,
.modal-content-close::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 20px;
  width: 2px;
  height: 22px;
  background-color: #000000;
  pointer-events: none;
  z-index: 50;
}

.modal-content-close::after {
  transform: rotate(45deg);
}

.modal-content-close::before {
  transform: rotate(-45deg);
}

.modal-content-close:hover::after,
.modal-content-close:hover::before {
  background-color: #e74a35;
}

.modal-content-close:active::after,
.modal-content-close:active::before {
  background-color: #737373;
}

.modal-content input:not(.btn),
.modal-content textarea {
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 15px;
  margin: 0;
  margin-bottom: 20px;
  color: #656565;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.fieldset-form input[type="text"]:hover,
.fieldset-form input[type="text"]:focus,
.fieldset-form input[type="text"]:active,
.fieldset-form input[type="email"]:hover,
.fieldset-form input[type="email"]:focus,
.fieldset-form input[type="email"]:active,
.fieldset-form textarea[name="user-comment"]:hover,
.fieldset-form textarea[name="user-comment"]:focus,
.fieldset-form textarea[name="user-comment"]:active {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 8px 14px;
}

.fieldset-form input[type="text"]:focus,
.fieldset-form input[type="text"]:active,
.fieldset-form input[type="email"]:focus,
.fieldset-form input[type="email"]:active,
.fieldset-form textarea[name="user-comment"]:focus,
.fieldset-form textarea[name="user-comment"]:active {
  outline: none;
  border-color: rgba(46, 136, 228, 0.52);
  color: #5b9ddf;
}

.modal-content input:not(.btn) {
  width: 265px;
}

.modal-content textarea {
  width: 427px;
  box-sizing: border-box;
}

.feedback-form {
  margin: 0;
  padding: 0;
}

.fieldset-form {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-form legend {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
}

.fieldset-form .btn {
  float: right;
  padding: 10px 25px;
}

/*modal-overlay*/
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-overlay-show {
  display: block;
}
